* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #252422;
    --main-font-color: #fffcf2;
    --main-card-color: #9a8c98;
    --main-active-card-color: #ccc5b9;
    --main-card-font-color: #18181b;
    --secondary-card-font-color: #52525b;
    --secondary-color: #4a4e69;
    --header-button: #eb5e28;
    --footer-background: #403d39;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header h1 {
    padding: 10px 20px;
    color: var(--main-font-color);
}

main {
    flex: 1;
    overflow-y: hidden;
    padding: 10px 0px;
    background-color: var(--secondary-color);
}

header {
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

header button {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--header-button);
    color: white;
    font-weight: bold;
}

.initialMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: var(--main-font-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.mainGrid {
    width: 100%;
    height: 100%;
    padding: 57px 30px 18px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(248px, 30vh));
    grid-auto-rows: minmax(248px, 30vh);
    gap: 20px;
}

.card,
.formCard {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 10px 15px 15px;
    border: 1px solid var(--main-card-color);
    border-radius: 15px;
    gap: 10px;
    background-color: var(--main-card-color);

}

.card {
    position: relative;
    top: 0;
    left: 0;
    transition: ease 0.3s;
}

.card:hover {
    background-color: var(--main-active-card-color);
    transform: scale(1.05, 1.05);
    z-index: 0;
    box-shadow: 1px 5px 10px -4px rgba(0, 0, 0, 0.659);
}

.card .cardImgContainer {
    background-color: var(--main-card-color);
    max-width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--main-card-color);
    border-radius: 15px;
    overflow: hidden;
}

.bookImg {
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: ease 0.2s;
}

.card:hover .bookImg {
    opacity: 1;
}

.bookImg.display {
    opacity: 1;
}

.cardData {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 0.2rem;
    height: 4.2rem;
    padding: 0 0 0px;
    line-height: 0.9rem;
}

.cardData>*:nth-child(-n+2) .bold.initial {
    display: none;
}

.cardData>*:nth-child(n+3) {
    display: none;
}

.card .cardData>.initial.display {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1rem;
}

.card .cardData .bookTitle {
    font-weight: bold;
}

.authorData,
.bookTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1rem;
}

.card .bookAuthor,
.bookPages {
    font-weight: 600;
    color: var(--secondary-card-font-color);
}

.card .cardData p {
    color: var(--secondary-card-font-color);
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--footer-background);
    color: var(--main-font-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

/* This is the white background */
#formContainer,
#bookInfoContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCard {
    min-height: auto;
    max-height: 100vh;
    width: clamp(385px, 60vw, 500px);
    background-color: white;
    position: relative;
    padding: 25px 40px;
}

.formCard legend {
    position: relative;
    top: -10px;
}

.formCard label {
    display: flex;
    flex-direction: column;
}

.exitForm {
    position: absolute;
    top: 15px;
    right: 20px;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.card.expanded {
    --top-padding: 0px;
    --left-padding: 0px;
    z-index: 4;
    background-color: var(--main-active-card-color);
    transform: scale(1);
    position: relative;
    top: var(--top-padding);
    left: var(--left-padding);
    width: clamp(385px, 60vw, 500px);
    height: 90vh;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: ease 0.3s;
    box-shadow: 1px 5px 10px -4px rgba(0, 0, 0, 0.659);
}

.cardData.expanded {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 1fr 1fr 2fr;
}

.cardData.expanded>.buttonContainer.initial.display {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardData .buttonContainer button {
    border: 1px solid var(--main-card-color);
    border-radius: 15px;
    width: max-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: var(--main-font-color);
}

.buttonContainer button.readButton {
    background-color: #6BCB77;
}

.buttonContainer button.readButton.unread {
    background-color: #ff7043;
}

.buttonContainer button.editButton {
    background-color: #4D96FF;
}

.buttonContainer button.deleteButton {
    background-color: #FF6B6B;
}